## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
X = 12
print(x)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
y= 8.5
print(type(y))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
name= "Marcelo"
print(name)

Marcelo

5) Crear una variable que contenga un número complejo

In [7]:
z= 5 + 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(z))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
import math
numpi= math.pi
redondeo=round(numpi, 4)
print(redondeo)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [14]:
x="True"
y= True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [42]:
print(type(X))
print(type(y))

<class 'int'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [16]:
suma= 8 + 9.8

11) Realizar una operación de suma de números complejos

In [17]:
sumaComple= (5 + 3j)+(4-3j)

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
sumaCompleReal=8 + (1-3j)

13) Realizar una operación de multiplicación

In [19]:
multi= 5*5

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
potencia= 2**8
print(potencia)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
cociente=27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
cociente=27//4
print(cociente)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
modulo= 27%4
print(modulo)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
resultado= (4*cociente)+modulo
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
x= "conca"
y= "tenacion"
z= x + y
print(z)

concatenacion

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [26]:
"2"==2
#porque "2" es un Str y 2 es un int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [27]:
x=int("2")
y=2
x==y

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
a=float("3,8")

#porque esta entre comillas e interpreta que es una cadena de texto

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [35]:
x=3
x-=1
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [36]:
1<<2
#desplaza 1 dos veces a la izquierda en el entero 7(00111) lo que lo hace 4(0100)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [37]:
"2"+2
#el primero es una cadena y no se pueden concatenar 2 tipos distintod

TypeError: can only concatenate str (not "int") to str

26) Realizar una operación válida entre valores de tipo entero y string

In [38]:
x=5
y="8"
z= x + int(y)

print(z)

13